In [215]:
import pandas as pd
from math import cos

# Function

In [234]:
def stat_code_compute(x):
    scale_km = 0.5
    lat = x[6]
    lon = x[7]
    lat_to_km = lat*110.574
    lon_to_km = lon*(111.320*cos(lat))

    state_code_x = int(lat_to_km//scale_km)
    state_code_y = int(lon_to_km//scale_km)
    state_code = str(state_code_x)+str(state_code_y)
    return state_code

# Pandas

In [110]:
rst = pd.read_csv('restaurant_2018_06_22.csv')
type(rst)

pandas.core.frame.DataFrame

In [9]:
rst.head()

,name,status,Address,type_one,type_two,price,lat,lon
0,京都日式涮涮鍋,已歇業,台北市松山區敦化北路244巷34號之B,鍋類,涮涮鍋,NaN,25.060937,121.547772
1,享樂烘焙(中山旗艦店),已歇業,台北市中山區中山北路2段77之1號,烘焙、甜點、零食,西點烘焙、麵包,NaN,25.057621,121.523086
2,福珍真味涮涮鍋,營業中,台北市信義區忠孝東路五段505號,鍋類,涮涮鍋,NaN,25.041532,121.578637
3,武藏 大眾食堂(伊通店),營業中,台北市中山區伊通街52巷6號,日式料理,綜合日式料理,160.0,25.051292,121.534340
4,上佳香菇肉粥,已歇業,台北市大同區民生西路198之3號,中式料理,其它中式料理,NaN,25.057032,121.516825

In [13]:
price = rst['price'].head()
type(price)

pandas.core.series.Series

In [20]:
name = rst['name']

In [26]:
rst.columns

Index(['name', 'status', 'Address', 'type_one', 'type_two', 'price', 'lat',
       'lon'],
      dtype='object')

In [27]:
rst.shape

(36915, 8)

In [58]:
rst.describe()

              price           lat           lon
count  2.258500e+04  36915.000000  36915.000000
mean   5.966554e+04     24.919753    120.864366
std    6.696837e+06      1.807284      9.022171
min    1.200000e+01      0.000000      0.000000
25%    8.500000e+01     25.035897    121.523590
50%    1.750000e+02     25.046328    121.541916
75%    3.480000e+02     25.060364    121.556591
max    9.101920e+08     31.241043    129.614983

In [59]:
rst.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36915 entries, 0 to 36914
Data columns (total 8 columns):
name        36915 non-null object
status      36915 non-null object
Address     36915 non-null object
type_one    36893 non-null object
type_two    36893 non-null object
price       22585 non-null float64
lat         36915 non-null float64
lon         36915 non-null float64
dtypes: float64(3), object(5)
memory usage: 2.3+ MB

In [37]:
rst.sort_values(by='price',ascending=False).head()

,name,status,Address,type_one,type_two,price,lat,lon
8097,專業老酒收購台北0910-192300(老酒收購0910-192300林先生),營業中,台北市南港區中正路0910192300號,咖啡、簡餐、茶,複合式,910192000.0,25.069193,121.659380
4370,電商咖啡(信義吳興店),已歇業,台北市信義區吳興街85號,咖啡、簡餐、茶,複合式,429497000.0,25.030703,121.560767
30495,咖啡癮,營業中,台北市中正區羅斯福路二段34號2樓,烘焙、甜點、零食,西點烘焙、麵包,1398180.0,25.028374,121.521188
31453,鴉埠咖啡Yaboo,營業中,台北市大安區永康街41巷26號,咖啡、簡餐、茶,咖啡專賣,66849.0,25.030422,121.530585
1405,鑽石牛排屋 Diamond Steak & Café,已歇業,台北市松山區敦化南路一段233巷65號,異國料理,美式料理,10500.0,25.040372,121.552800

In [54]:
qry = rst[10:21]['Address']
type(qry)

pandas.core.series.Series

In [60]:
rst[(rst['price'] > 100) & (rst['price'] < 200)]

,name,status,Address,type_one,type_two,price,lat,lon
3,武藏 大眾食堂(伊通店),營業中,台北市中山區伊通街52巷6號,日式料理,綜合日式料理,160.0,25.051292,121.534340
8,Xai Xing dé 耍性子,營業中,台北市大安區仁愛路四段228-2號,異國料理,美式料理,165.0,25.037451,121.551716
16,Stone Age Bar & Grill 石器時代主題餐廳,營業中,台北市萬華區武昌街二段85號,異國料理,墨西哥料理,109.0,25.045304,121.504868
33,Mr.Martin's Kitchen 馬丁廚房工作室,營業中,台北市大安區新生南路三段76巷12弄10之5號,烘焙、甜點、零食,西點烘焙、麵包,148.0,25.019389,121.533058
34,魔力小樂,營業中,台北市文山區保儀路26巷9號,咖啡、簡餐、茶,咖啡專賣,113.0,24.988345,121.568658
44,Å Cafe&Crystal,已歇業,台北市大安區仁愛路四段300巷26弄31號,咖啡、簡餐、茶,咖啡專賣,140.0,25.036138,121.553195
45,九樂新南洋麵食(士林店),已歇業,台北市士林區基河路301號,亞洲料理,綜合南洋料理,162.0,25.097540,121.514218
67,梨園小吃店,營業中,台北市萬華區 中華路一段114巷2號,小吃,其他小吃,123.0,25.043793,121.508135
76,飯樂丼 Fun Rice(信義店),營業中,台北市信義區松壽路20號2樓,日式料理,綜合日式料理,160.0,25.035636,121.567099
86,老熊味湯包館,已歇業,台北市信義區基隆路一段147巷9號1樓,中式料理,上海菜(江浙菜),120.0,25.042525,121.566225
102,哲麵,已歇業,台北市萬華區漢中街116號,日式料理,日式麵食專賣,130.0,25.043025,121.507352
119,櫻五鐵板燒,營業中,台北市北投區中和街45號,中式料理,其它中式料理,180.0,25.138261,121.502439
133,唯樂漢堡 Winner Burger,營業中,台北市中山區復興北路514巷36號,早餐,西式早餐,122.0,25.065925,121.542465
136,澳客炙燒牛排,營業中,台北市大安區臨江街99-1號,異國料理,美式料理,159.0,25.030256,121.554552
144,大葉高島屋美食街,營業中,台北市士林區忠誠路二段55號,其他美食,其他美食,139.0,25.111857,121.531367
149,貳貳泰式料理 Tuk Tuk Thai Combo Food,已歇業,台北市士林區大南路81號,亞洲料理,泰式料理,179.0,25.089264,121.524335
152,MR. TKK,營業中,台北市中正區南昌路二段3號,咖啡、簡餐、茶,複合式,161.0,25.028675,121.519262
169,TitaCafe,營業中,台北市文山區指南路二段72號,咖啡、簡餐、茶,複合式,108.0,24.986776,121.578589
171,The Aroma 馨香堂,營業中,台北市萬華區漢中街205號,異國料理,美式料理,147.0,25.040810,121.506566
175,時悅樂,營業中,台北市大同區赤峰街17巷20號1樓,異國料理,其他異國料理,155.0,25.053573,121.520159
178,illuminé Pâtisserie 果昂甜品,營業中,台北市大同區赤峰街43-1號1樓,烘焙、甜點、零食,西點烘焙、麵包,172.0,25.055028,121.519680
182,定食8 爭鮮餐飲(松山店),營業中,台北市信義區松山路11號1樓,日式料理,綜合日式料理,190.0,25.049190,121.578299
185,天然紅豆腐豬血湯,營業中,台北市大同區昌吉街46、48號,小吃,其他小吃,114.0,25.065770,121.516816
187,找一頓,已歇業,台北市信義區莊敬路448號,早餐,其他類型早餐,152.0,25.026901,121.567266
191,OCT賭城嫩雞,已歇業,台北市南港區忠孝東路七段359號1樓(B2棟),異國料理,美式料理,135.0,25.052180,121.606881
204,鮮食堂,營業中,台北市信義區莊敬路447號1樓,日式料理,綜合日式料理,180.0,25.027109,121.567311
216,萬年排骨芝山,營業中,台北市士林區福華路148號,小吃,焢肉飯,159.0,25.103419,121.522750
234,口吅品,營業中,台北市士林區文林路101巷20號,異國料理,美式料理,160.0,25.087949,121.525642
254,吉林路尾蚵仔麵線,營業中,台北市中山區吉林路476號,小吃,麵線,105.0,25.067677,121.530317
255,Mokido 夢綺朵美式鬆餅專門店,營業中,台北市中山區民權東路一段12巷15號,烘焙、甜點、零食,西點烘焙、麵包,175.0,25.061997,121.523672
...,...,...,...,...,...,...,...,...
36645,一鼎燒(京華城B3美食廣場),營業中,台北市松山區八德路四段138號,燒烤類,鐵板燒,135.0,25.048495,121.562431
36650,11oz COFFEE,營業中,台北市大安區敦化南路二段63巷5號,咖啡、簡餐、茶,咖啡專賣,192.0,25.031085,121.549423
36692,就是牛牛肉麵,營業中,台北市中正區延平南路163巷1號1樓,中式料理,麵食點心,111.0,25.035199,121.507849
36695,義麵屋,營業中,台北市南港區昆陽街96號,異國料理,義式料理,145.0,25.051690,121.593461
36698,PINÈDE彼內朵(微風台北車站店),營業中,台北市中正區北平西路3號,烘焙、甜點、零食,西點烘焙、麵包,103.0,25.047924,121.517081
36726,台生飲食亭,營業中,台北市中正區開封街一段49號,中式料理,其它中式料理,130.0,25.046126,121.512296
36736,大江南北鍋貼麵食水餃館,營業中,台北市中山區中山區遼寧街185巷21號,中式料理,麵食點心,115.0,25.053445,121.543375
36751,大嘴吧涮涮鍋,已歇業,台北市松山區敦化北路4巷21號,鍋類,涮涮鍋,178.0,25.050088,121.546349
36759,咖啡桌上 On Cafe Table,已歇業,台北市北投區石牌路二段68巷12號,咖啡、簡餐、茶,咖啡專賣,175.0,25.116287,121.516565
36762,譚仔三哥米線(西門店),已歇業,台北市萬華區漢中街一零五-一零柒號二樓,中式料理,粵菜 港式飲茶,169.0,25.043354,121.507275
36772,財 沙茶咖哩 炒麵炒飯,營業中,台北市松山區撫遠街374號,中式料理,熱炒、快炒,150.0,25.067803,121.568093
36780,第一劇場魚丸店(遼寧店),已歇業,台北市大同區遼寧街150~ 1號,小吃,麵攤、麵店,135.0,25.054876,121.541998
36801,涼晨即食早餐店,營業中,台北市大同區台北市庫倫街46號,早餐,西式早餐,113.0,25.072111,121.518089
36808,黃龍莊,營業中,台北市中正區牿嶺街43號,中式料理,麵食點心,183.0,25.030000,121.516600
36811,溫國智私藏古早味,已歇業,台北市中山區樂群三路218號,中式料理,其它中式料理,130.0,25.082488,121.558094
36815,嵐迪義大利麵館,營業中,台北市大安區復興南路一段107巷25-3號,異國料理,義式料理,105.0,25.043695,121.545561
36823,庫卡咖啡(大直),營業中,台北市中山區大直街57巷5號,咖啡、簡餐、茶,複合式,130.0,25.077404,121.548601
36824,Kafemera,營業中,台北市大安區大安路一段175巷11號,咖啡、簡餐、茶,複合式,177.0,25.036548,121.546935
36830,Waffle Please比利時列日鬆餅(內湖店),營業中,台北市內湖區港墘路127巷7號,咖啡、簡餐、茶,複合式,134.0,25.077876,121.576498
36838,口杯食堂,營業中,台北市信義區忠孝東路四段553巷2弄11號,亞洲料理,其他亞洲料理,129.0,25.041962,121.563381
36843,咱家廚房,營業中,台北市大安區仁愛路四段300巷15-1號,中式料理,熱炒、快炒,110.0,25.036745,121.554550
36853,內湖路一段737巷雞蛋蚵仔煎,營業中,台北市內湖區內湖路一段737巷30號,小吃,蚵仔煎,120.0,25.079946,121.578575
36857,公館夜市,營業中,台北市中正區羅斯福路四段90巷&108巷,小吃,其他小吃,118.0,25.091075,121.559835
36858,Rabbit Rabbit,營業中,台北市中正區信陽街5號,異國料理,美式料理,194.0,25.044708,121.516792
36864,好記米粉湯,營業中,台北市內湖區碧山路34-3號,小吃,其他小吃,120.0,25.100086,121.586980
36868,花猴子手工甜點工作室,營業中,台北市文山區興隆路四段100號1樓,烘焙、甜點、零食,西點烘焙、麵包,132.0,24.983111,121.562129
36874,Sharing Cafe 分享咖啡,已歇業,台北市大安區新生南路三段56巷6號,異國料理,義式料理,160.0,25.020395,121.533530
36875,GLAMAIR,已歇業,台北市信義區松壽路新光三越A11館B1,冰品、飲料、甜湯,冰淇淋,147.0,25.036301,121.567443
36886,Taco2Go,營業中,台北市大安區新生南路三段76巷10號,異國料理,墨西哥料理,150.0,25.019289,121.532904
36894,吳記豐原排骨酥,營業中,台北市信義區永吉路30巷158弄2號,小吃,筒仔米糕,140.0,25.042274,121.568555

# dplyr

filter() 函數：SQL 查詢中的 where 描述<br>
select() 函數：SQL 查詢中的 select 描述<br>
mutate() 函數：SQL 查詢中的衍生欄位描述<br>
arrange() 函數：SQL 查詢中的 order by 描述<br>
summarise() 函數：SQL 查詢中的聚合函數描述<br>
group_by() 函數：SQL 查詢中的 group by 描述<br>

### filter(), where: 
    use & and | to add the condition of query

In [92]:
rst[(rst['price'] >= 100) & (rst['name'] == '電商咖啡(信義吳興店)')].head()

,name,status,Address,type_one,type_two,price,lat,lon
4370,電商咖啡(信義吳興店),已歇業,台北市信義區吳興街85號,咖啡、簡餐、茶,複合式,429497000.0,25.030703,121.560767

### select(), select: 
    put a series of columes as a list in the '[ ]'

In [96]:
rst[['name','price']].head()

           name  price
0       京都日式涮涮鍋    NaN
1   享樂烘焙(中山旗艦店)    NaN
2       福珍真味涮涮鍋    NaN
3  武藏 大眾食堂(伊通店)  160.0
4        上佳香菇肉粥    NaN

In [ ]:
rst[['name','price']].head()

#### mutate():
    add results of calculations.

# 1.

In [98]:
rst['price'].apply(lambda x: x*10000).head()

0          NaN
1          NaN
2          NaN
3    1600000.0
4          NaN
Name: price, dtype: float64

In [116]:
rst['priceAdd10000'] = rst['price'].apply(lambda x: x*10000)

In [117]:
rst.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36915 entries, 0 to 36914
Data columns (total 9 columns):
name             36915 non-null object
status           36915 non-null object
Address          36915 non-null object
type_one         36893 non-null object
type_two         36893 non-null object
price            22585 non-null float64
lat              36915 non-null float64
lon              36915 non-null float64
priceAdd10000    22585 non-null float64
dtypes: float64(4), object(5)
memory usage: 2.5+ MB

In [118]:
rst = rst.drop(columns='priceAdd10000')

In [119]:
rst.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36915 entries, 0 to 36914
Data columns (total 8 columns):
name        36915 non-null object
status      36915 non-null object
Address     36915 non-null object
type_one    36893 non-null object
type_two    36893 non-null object
price       22585 non-null float64
lat         36915 non-null float64
lon         36915 non-null float64
dtypes: float64(3), object(5)
memory usage: 2.3+ MB

### 2.

In [193]:
df = pd.DataFrame({'col_1':[1,3,5,7,9],'col_2':[2,4,6,8,10],'col_3':['a','b','c','d','e']})
df.info()
df

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 3 columns):
col_1    5 non-null int64
col_2    5 non-null int64
col_3    5 non-null object
dtypes: int64(2), object(1)
memory usage: 200.0+ bytes

   col_1  col_2 col_3
0      1      2     a
1      3      4     b
2      5      6     c
3      7      8     d
4      9     10     e

In [203]:
def f(x):
    return x[0],x[1]

In [199]:
df.apply(f,axis=1)

0     (1, 2)
1     (3, 4)
2     (5, 6)
3     (7, 8)
4    (9, 10)
dtype: object

# This is the state code task!

## Restaurant

In [235]:
lat = list(rst.columns).index('lat')
lon = list(rst.columns).index('lon')
(lat,lon)

(6, 7)

In [236]:
def calculation(x):
    return x[6],x[7]

In [237]:
new_col = rst.apply(stat_code_compute,axis=1)
new_col.head()

0    554226991
1    554126979
2    553726955
3    554026968
4    554126977
dtype: object

In [238]:
type(new_col)

pandas.core.series.Series

In [239]:
new_col.shape

(36915,)

In [290]:
rst['state_code'] = new_col
new_col.head()

0    554226991
1    554126979
2    553726955
3    554026968
4    554126977
dtype: object

In [241]:
rst.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36915 entries, 0 to 36914
Data columns (total 9 columns):
name          36915 non-null object
status        36915 non-null object
Address       36915 non-null object
type_one      36893 non-null object
type_two      36893 non-null object
price         22585 non-null float64
lat           36915 non-null float64
lon           36915 non-null float64
state_code    36915 non-null object
dtypes: float64(3), object(6)
memory usage: 2.5+ MB

In [291]:
rst.to_csv('output/restaurant_statcode.csv','w')

## Job

In [278]:
jb = pd.read_csv('jobs_2018_07_10.csv',header=None)

In [279]:
jb.columns

Int64Index([0, 1, 2, 3, 4, 5, 6, 7], dtype='int64')

In [280]:
jb.head(1)
jb.columns = ['title','company','address','lat','lon','content','tool','others']
jb.head(2)

,title,company,address,lat,lon,content,tool,others
0,SA20088 資料分析師,華碩電腦股份有限公司,台北市北投區台北市北投區中央南路二段35號6樓,25.122048,121.500310,這是一個支援全球 scale 的團隊，我們進行研究、實驗、建立政策、製作指導文件、發展課程，...,不拘 不拘,1. 熟悉Google Analytics工具，除了撈資料與解讀基本報表之外，要能善用進階...
1,SAP(BW/資料倉儲)系統工程師,(總公司)南山人壽保險股份有限公司,台北市信義區莊敬路168號,25.031794,121.561091,●規劃高可靠度SAP系統架構(HA SAP Landscape Design)●配合專案需求...,不拘 不拘,●對資料庫管理有興趣 具耐心及專注力●具資料庫管理、Data Warehousing、統計分...

In [281]:
def stat_code_compute_2(x):
    scale_km = 0.5
    lat = x[3]
    lon = x[4]
    lat_to_km = lat*110.574
    lon_to_km = lon*(111.320*cos(lat))

    state_code_x = int(lat_to_km//scale_km)
    state_code_y = int(lon_to_km//scale_km)
    state_code = str(state_code_x)+str(state_code_y)
    return state_code

In [282]:
new_cl = jb.apply(stat_code_compute_2,axis=1)

In [283]:
jb['state_code'] = new_cl

In [284]:
jb.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5055 entries, 0 to 5054
Data columns (total 9 columns):
title         5055 non-null object
company       5055 non-null object
address       5055 non-null object
lat           5055 non-null float64
lon           5055 non-null float64
content       5055 non-null object
tool          5055 non-null object
others        5055 non-null object
state_code    5055 non-null object
dtypes: float64(2), object(7)
memory usage: 355.5+ KB

In [287]:
jb.to_csv('output/job_stat_code.csv','w')

# Fini